@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h3 class="text-danger">Erorr while trying to make this action!</h3>
@if(Model.ErrorMessage!=null){
<h5>Details: "@Model.ErrorMessage"</h5>
}

<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>

